DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_CONNECTION_LIMIT=30
PORT=
BJC_API_PORT=3001
BJC_ADMIN_PORT=4187
BJC_USER_PORT=4188
BJC_API_BASE_URL=http://127.0.0.1:3001
BJC_SMOKE_BASE_URL=http://127.0.0.1:3001
